* {
  font-family: Galmuri9, sans-serif;
}

#canvas {
  background: url('/src/img/mainBackground.jpg');
  background-size: cover;
  border: 1px solid blue;
}

.canvas-container{
  display: grid;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}