#canvas {
  background: url('../img/mainBackground.jpg');
  background-size: cover;
  border: 1px solid blue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.canvas-container{
  display: flex;
  justify-content: space-around;
}